PORT=3000

DATABASE_URL="postgresql://root:rootpassword@localhost:5432/commerce_core_db?schema=public"

REDIS_HOST="localhost"
REDIS_PORT=6379

JWT_ACCESS_SECRET="your_jwt_access_secret_here"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_here"

STRIPE_SECRET_KEY="sk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."